<% switch(category) {
	case "faculties": %>
		<tr><td contenteditable></td><td contenteditable></td></tr>
		<% break;
	case "audiences": %>
		<tr>
			<td contenteditable></td>
			<td></td>
			<td></td>
			<td contenteditable></td>
		</tr>
		<% break;
	case "teachers": %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td contenteditable></td>
		</tr>
		<% break;
	case "subjects": %>
		<tr><td contenteditable></td></tr>
		<% break;
	case "groups": %>
		<tr>
			<td></td>
			<td contenteditable></td>
			<td contenteditable></td>
			<td contenteditable></td>
			<td></td>
		</tr>
		<% break;
	case "housings": %>
		<tr><td contenteditable></td></tr>
		<% break;
	case "departments": %>
		<tr><td></td><td contenteditable></td></tr>
		<% break;
} %>