<div class="right-border width200">
	<div class="bottom-border height47 center-text padding1015" data-toggle="buttons">
		<label class="btn btn-info active">
			<input type="checkbox" checked><%= group %>
		</label>
	</div>
	<% _.each(days, function(day){ %>
		<% _.each(pairs, function(pair){ %>
			<div id="<%= groupId %>_<%= day %>_<%= pair %>" class="bottom-border">
				<div class="admin-sub"></div>
					<hr class="admin-sub-separator">
				<div class="admin-sub"></div>
			</div>
		<% }); %>
	<% }); %>
</div>