.top-left-border {
	border: 1px solid @table-border;
	overflow-x: auto;
	white-space: nowrap;

	.admin-content-loader {
		color: red;
		display:none;
	}

	> .right-border {
		border-right: 1px solid @table-border;
		display: inline-block;
		float: left;
		position: absolute;
		background-color: white;

		&:nth-child(3) {
			left: 56px;
		}
	}

	.schedule-container {
		margin-left: 80px;
		.right-border {
			border-right: 1px solid @table-border;
			display: inline-block;

			.bottom-border:hover:not(:first-child) {
				background-color: @table-hover-cell;
			}
		}
	}
}

.admin-day-cell {
	margin: 85px 0 0 10px;
}

.admin-pair-cell {
	margin-top: 15px;
	text-align: center;
}


.width200 {
	width: 200px;
}

.width80 {
	width: 80px;
}

.width40 {
	width: 40px;
}

.height287 {
	height: 287px;
}

.height47 {
	height: 47px;
}

.height25 {
	height: 25px;
}

.height12 {
	height: 12px;
}

.bottom-border {
	border-bottom: 1px solid @table-border;
}

.admin-sub-separator {
	margin: 0;
	padding: 0;
}

.admin-sub{
	margin: 0px 10px;
	height: 30px;
	font-size: 11px;
	overflow: hidden;
}