.navigation {
	.list-group-item {
		height: 42px;
	}
}

.action-menu {
	.pull-left {
		width: 129px;
		text-align: center;
		.dropdown-menu {
			text-align: left;
		}
	}
}

.height349 {
	height: 349px;
}

.height47 {
	height: 47px;
}

.height25 {
	height: 25px;
}

.height12 {
	height: 12px;
}

.admin-sub-separator {
	margin: 0;
	padding: 0;
}

.admin-sub{
	margin: 0px 10px;
	height: 30px;
	font-size: 11px;
	overflow: hidden;
	white-space: normal;
}
