#database {
	.invisible {
		visibility:hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in;
	}
	.visible {
		visibility:visible;
		opacity: 1;
		transition: opacity 0.5s ease-in;
	}
}

#db_navigation {
	min-height: 85px;
	position: relative;

	.loader {
		position: absolute;
		display: flex;
		min-height: 42px;
		width: 100%;
		height: calc(~'100% - 41px');
		z-index: 3;
		align-items: center;
		justify-content: center;
		background-color: rgba(128, 128, 128, 0.1);

		img {
			width: 50px;
		}
	}
}

#database_container {
	position: relative;
	min-height: 200px;
	.loader {
		position: absolute;
		display: flex;
		height: 200px;
		width: 100%;
		margin-left: -15px;
		align-items: center;
		justify-content: center;
	}

	tbody {
		td {

			&.no-padding {
				padding: 0;

				.glyphicon {
					position: absolute;
					right: 10px;
					top: 5px;
					font-size: 20px;
					color: #666;
				}
			}

			&[contenteditable]:focus {
				outline: none;
			}

			.dropdown {
				button {
					width: 100%;
					height: 30px;
					background: transparent;
					border: none;
					text-align: left;

					&:active {
						outline: none;
						box-shadow: none;
					}

					&:focus {
						outline: none;
					}
				}

				.dropdown-menu {
					width: 100%;
					min-width: 80px;
				}
			}

			.popover {
				width: 100%;
				text-align: center;
			}
		}
	}
}