#page .database {
	.nav {
		.dropdown {
			display: inline-block;

			& > div {
				display: inline-block;
				padding-left: 5px;
			}

			& > a {
				display: inline-block;
				min-width: 85px;
				text-align: center;
			}
		}
	}
}

#db_navigation {
	min-height: 85px;
	position: relative;

	.loader {
		min-height: 42px;
		height: calc(~'100% - 41px');
		background-color: rgba(128, 128, 128, 0.1);
	}
}

#database_container {
	position: relative;
	min-height: 200px;
	.loader {
		height: 200px;
		margin-left: -15px;
	}

	tbody {
		td {
			padding: 0 5px;

			&.no-padding {
				padding: 0;

				.glyphicon {
					position: absolute;
					right: 10px;
					top: 5px;
					font-size: 20px;
					color: #666;
				}
			}

			&[contenteditable]:focus {
				outline: none;
			}

			input {
				width: 100%;
				height: 30px;
				border: none;
				background: transparent;

				&:focus {
					outline: none;
				}
			}

			.dropdown {
				button {
					width: 100%;
					height: 30px;
					background: transparent;
					border: none;
					text-align: left;

					&:active {
						outline: none;
						box-shadow: none;
					}

					&:focus {
						outline: none;
					}
				}

				.dropdown-menu {
					width: 100%;
					min-width: 80px;
				}
			}

			.popover {
				width: 100%;
				text-align: center;
			}
		}
	}
}