.popover-control {
	padding: 6px 5px 0;
}

.popover {
	text-align: center;
	display:none;
	top: 25px;

	.popover-content {
		input {
			margin: 5px 0;
			padding: 0 5px;
		}
	}

	.arrow:before {
		content: " ";
		width: 100px;
		height: 10px;
		position: relative;
		left: -50px;
		display: block;
	}
}