.popover-control {
	padding: 6px 5px 0;
}

.popover {
	text-align: center;
	display:none;
	top: 25px;

	.arrow:before {
		content: " ";
		width: 100px;
		height: 10px;
		position: relative;
		left: -50px;
		display: block;
	}
}