{{set . "title" "Адміністрування розкладу"}}
{{set . "admin" "active"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<ul class="nav nav-pills">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Факультет <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							{{range $faculty := $.faculties}}
							<li><a href="#" title="{{$faculty.FullName}}" data-faculty-id="{{$faculty.Id}}">{{$faculty.ShortName}}</a></li>
							{{end}}
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Курс <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
						</ul>
					</li>
					<button id="lalala" type="button" class="btn btn-default">button</button>
					<h4 id="admin_facylty_name" class="center-text"></h4>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">Завдання кафедр:</div>
			
				<div class="list-group">
					<div class="list-group-item" draggable="true">
						<p class="font12">Англійська ва Англійська Англійська Англійська Англійська</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="list-group-item" draggable="true">
						<p class="font12">ООП</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="list-group-item" draggable="true">
						<p class="font12">Фізика</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="top-left-border">
				<div class="admin-content-loader">Для початку роботи виберіть факультет та рік навчання</div>
				<div id="day_table_row" class="right-border width40">
					<div class="bottom-border height47"></div>
					{{range $day := $.days}}
					<div class="right-border width40">
						<div class="bottom-border height287">
							<div class="rotate admin-day-cell">{{$day.Day}}</div>
						</div>
					</div>
					{{end}}
				</div>
				<div id="pair_table_row" class="right-border width40">
					<div class="bottom-border height47"></div>
					{{range $day := $.days}}
					{{range $pair := $.pairs}}
					<div class="bottom-border height47">
						<div class="admin-pair-cell">{{$pair.Number}}</div>
					</div>
					{{end}}
					{{end}}
				</div>
				<div class="schedule-container"></div>
			</div>
		</div>
	</div>
</div>
{{template "footer_admin.html" .}}