{{set . "title" "Адміністрування розкладу"}}
{{set . "admin" "active"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<ul class="nav nav-pills action-menu">
					<li id="faculty_sel" class="dropdown pull-left">
						<a class="dropdown-toggle" data-toggle="dropdown" data-faculty-id="" href="#">
							Факультет <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							{{range $faculty := $.faculties}}
							<li><a href="#" title="{{$faculty.FullName}}" data-faculty-id="{{$faculty.Id}}">{{$faculty.ShortName}}</a></li>
							{{end}}
						</ul>
					</li>
					<li id="year_sel" class="dropdown pull-left">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" data-year="1">
							1 Курс <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" data-year="1">1 Курс</a></li>
							<li><a href="#" data-year="2">2 Курс</a></li>
							<li><a href="#" data-year="3">3 Курс</a></li>
							<li><a href="#" data-year="4">4 Курс</a></li>
							<li><a href="#" data-year="5">5 Курс</a></li>
						</ul>
					</li>
					<li id="delete_sel" class="dropdown pull-right">
						<a href="#"><span class="glyphicon glyphicon-remove"></span> Видалити</a>
					</li>
					<li id="delete_sel" class="dropdown pull-right">
						<a href="#"><span class="glyphicon glyphicon-edit"></span> Редагувати</a>
					</li>
					<h4 id="admin_facylty_name" class="center-text"></h4>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">Завдання кафедр:</div>
			
				<div class="list-group">
					<div class="list-group-item" draggable="true">
						<p class="font12">Англійська ва Англійська Англійська Англійська Англійська</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="list-group-item" draggable="true">
						<p class="font12">ООП</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="list-group-item" draggable="true">
						<p class="font12">Фізика</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="top-left-border">
				<div id="content_loader" class="admin-content-loader">Для початку роботи виберіть факультет та рік навчання</div>
				<div id="day_table_row" class="right-border width40 hide">
					<div class="bottom-border height47"></div>
					{{range $day := $.days}}
					<div class="right-border width40">
						<div class="bottom-border height349">
							<div class="rotate admin-day-cell">{{$day.Day}}</div>
						</div>
					</div>
					{{end}}
				</div>
				<div id="pair_table_row" class="right-border width40 hide">
					<div class="bottom-border height47"></div>
					{{range $day := $.days}}
					{{range $pair := $.pairs}}
					<div class="bottom-border height47">
						<div class="admin-pair-cell">{{$pair.Number}}</div>
					</div>
					{{end}}
					{{end}}
				</div>
				<div id="schedule_container" class="schedule-container hide"></div>
			</div>
		</div>
	</div>
</div>
{{template "footer_admin.html" .}}