{{set . "title" (msg . "page_title.admin_main")}}
{{set . "admin_schedule" "active"}}
{{template "header_admin.html" .}}

<div id="page"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<ul class="nav nav-pills action-menu">
					<li id="faculty_sel" class="dropdown pull-left">
						<a class="dropdown-toggle" data-toggle="dropdown" data-filter-id="" href="#">
							{{msg . "action_menu.faculty"}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
						</ul>
					</li>
					<li id="year_sel" class="dropdown pull-left">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" data-filter-id="1">
							1 {{msg . "action_menu.s_year"}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" data-filter-id="1">1 {{msg . "action_menu.s_year"}}</a></li>
							<li><a href="#" data-filter-id="2">2 {{msg . "action_menu.s_year"}}</a></li>
							<li><a href="#" data-filter-id="3">3 {{msg . "action_menu.s_year"}}</a></li>
							<li><a href="#" data-filter-id="4">4 {{msg . "action_menu.s_year"}}</a></li>
							<li><a href="#" data-filter-id="5">5 {{msg . "action_menu.s_year"}}</a></li>
						</ul>
					</li>
					<li id="delete_sel" class="dropdown pull-right">
						<a href="#"><span class="glyphicon glyphicon-remove"></span> {{msg . "action_menu.delete"}}</a>
					</li>
					<li id="delete_sel" class="dropdown pull-right">
						<a href="#"><span class="glyphicon glyphicon-edit"></span> {{msg . "action_menu.edit"}}</a>
					</li>
					<h4 id="admin_facylty_name" class="center-text"></h4>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">{{msg . "left_sidebar.department_tasks"}}:</div>
				<div class="list-group task_wrapper">
					<div id="tasks_loader" class="list-group-item" draggable="true">
						<p class="font12">{{msg . "message.select_faculty"}}</p>
					</div>
					<div id="tasks_container" class="hide"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="main-container">
				<div id="schedule_container" class="schedule-container"></div>
			</div>
		</div>
	</div>
</div>
{{template "footer_admin.html" .}}