<% if (typeof item != 'undefined') {%>
	<tr data-item_id="<%= item.id %>">
		<td class="no-padding">
			<div class="dropdown">
				<button class="dropdown-toggle" data-toggle="dropdown" data-id=""><%= item.faculty.shortName %><span class="glyphicon glyphicon-chevron-down"></span></button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#">Action</a></li>
				</ul>
			</div>
		</td>
		<td class="no-padding">
			<div class="dropdown">
				<button class="dropdown-toggle" data-toggle="dropdown" data-id=""><%= item.department.name %><span class="glyphicon glyphicon-chevron-down"></span></button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#">Action</a></li>
				</ul>
			</div>
		</td>
		<td class="no-padding">
			<div class="dropdown">
				<button tabindex="0" class="popove" role="button" data-toggle="popover" data-placement="bottom" data-content="khhkufjh"><%= item.lastName %></button>
			</div>
		</td>
		<td contenteditable><%= item.rank %></td>
	</tr>
<% } else {%>
	<tr data-item_id="">
		<td class="no-padding">
			<div class="dropdown">
				<button class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="glyphicon glyphicon-chevron-down"></span></button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#">Action</a></li>
				</ul>
			</div>
		</td>
		<td class="no-padding">
			<div class="dropdown">
				<button class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="glyphicon glyphicon-chevron-down"></span></button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#">Action</a></li>
				</ul>
			</div>
		</td>
		<td class="no-padding">
			<div class="dropdown">
				<button class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="glyphicon glyphicon-chevron-down"></span></button>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#">Action</a></li>
				</ul>
			</div>
		</td>
		<td contenteditable></td>
	</tr>
<% } %>