{{set . "title" "Адміністрування розкладу"}}
{{set . "admin" "active"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<ul class="nav nav-pills">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Факультет <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">ФІТІС</a></li>
							<li><a href="#">ФЕТ</a></li>
							<li><a href="#">ФЕУ</a></li>
							<li><a href="#">ФЕФ</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Курс <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ul>
					</li>
					<h4 class="center-text">Факультет Інформаційних Технологій і Систем  -  1 курс</h4>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">Завдання кафедр:</div>
			
				<div class="list-group">
					<div class="list-group-item" draggable="true">
						<p class="font12">Англійська ва Англійська Англійська Англійська Англійська</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="list-group-item" draggable="true">
						<p class="font12">ООП</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
					<div class="list-group-item" draggable="true">
						<p class="font12">Фізика</p>
						<div class="progress progress-striped no-bottom-margin height12">
							<div class="progress-bar progress-bar-info" role="progressbar" style="width: 50%">
								<span class="sr-only">40% Complete (success)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="top-left-border">
				<div class="right-border width40">
					<div class="bottom-border height47"></div>
					<div class="bottom-border height287">
						<div class="rotate admin-day-cell">Понеділок</div>
					</div>
				</div>
				<div class="right-border width40">
					<div class="bottom-border height47">
					</div>
					<div class="bottom-border height47">
						<div class="admin-pair-cell">I</div>
					</div>
					<div class="bottom-border height47">
						<div class="admin-pair-cell">II</div>
					</div>
					<div class="bottom-border height47">
						<div class="admin-pair-cell">III</div>
					</div>
					<div class="bottom-border height47">
						<div class="admin-pair-cell">IV</div>
					</div>
					<div class="bottom-border height47">
						<div class="admin-pair-cell">V</div>
					</div>
					<div class="bottom-border height47">
						<div class="admin-pair-cell">VI</div>
					</div>
					<div class="bottom-border height47">
						<div class="admin-pair-cell">I</div>
					</div>
				</div>
				<div class="schedule-container">
					<div class="right-border width200">
						<div class="bottom-border height47 center-text padding1015">KT-901</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
								<hr class="admin-sub-separator">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
					</div>
					<div class="right-border width200">
						<div class="bottom-border height47 center-text padding1015">ПР-902</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
								<hr class="admin-sub-separator">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
					</div>
					<div class="right-border width200">
						<div class="bottom-border height47"></div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
								<hr class="admin-sub-separator">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
					</div>
					<div class="right-border width200">
						<div class="bottom-border height47"></div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
								<hr class="admin-sub-separator">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
					</div>
					<div class="right-border width200">
						<div class="bottom-border height47"></div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
								<hr class="admin-sub-separator">
							<p class="admin-sub">Англійська 104-4 доц. Стеценко І.В. 2.6.10.14</p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
						<div class="bottom-border">
							<p class="admin-sub"></p>
								<hr class="admin-sub-separator">
							<p class="admin-sub"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "footer.html" .}}