{{set . "title" "Home"}}
{{template "header_user.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <p></p>
        <h1>It works!{{$.day.Day}}</h1>
        <p></p>
        {{range $t := $.days}}
		<a href="#">{{$t.Day}}</a>
		{{end}}
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
