{{set . "title" "Головна"}}
{{template "header.html" .}}
<div class="container">
	<div class="jumbotron">
		<h1><img src="/web/img/schedule.png"> Розклад ЧДТУ</h1>
		<p>На даному сайті кожен студент та викладач Черкаського Державного Технологічного Університету може дізнатися свій розклад </p>
		<blockquote>
			<p>Розкажіть про сайт в соціальних мережах:</p>
		</blockquote>
		<div>
			<div class="g-plusone" data-annotation="inline" data-width="300"></div>
			<div class="g-plus" data-action="share" data-height="24"></div>
		</div>
	</div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'uk'}
</script>
{{template "footer.html" .}}