{{set . "title" (msg . "page_title.main")}}
{{template "header_user.html" .}}
<div class="container">
	<div class="jumbotron">
		<h1><img src="/public/img/schedule.png"> {{msg . "app_name"}}</h1>
		<p>{{msg . "main_page.message"}}</p>
		<blockquote>
			<p>{{msg . "main_page.social_message"}}</p>
		</blockquote>
		<div>
			<div class="g-plusone" data-annotation="inline" data-width="300"></div>
			<div class="g-plus" data-action="share" data-height="24"></div>
		</div>
	</div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'uk'}
</script>
{{template "footer.html" .}}