{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="accordion" id="accordion">
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								ФІТІС
							</a>
						</div>
						<div id="collapseOne" class="accordion-body collapse in">
							<div class="accordion-inner">
								<div class="accordion" id="accordion2">
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOneOne">
												1 курс
											</a>
										</div>
										<div id="collapseOneOne" class="accordion-body collapse">
											<div class="accordion-inner">
												<ul class="nav nav-stacked">
													<li><a href="#">КТ-111</a></li>
													<li><a href="#">ПР-112</a></li>
													<li><a href="#">ІТП-113</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="accordion-group">
										<div class="accordion-heading">
											<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOneTwo">
												2 курс
											</a>
										</div>
										<div id="collapseOneTwo" class="accordion-body collapse">
											<div class="accordion-inner">
												<ul class="nav nav-stacked">
													<li><a href="#">КТ-101</a></li>
													<li><a href="#">ПР-102</a></li>
													<li><a href="#">ІТП-103</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
								ФЕУ
							</a>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								...
							</div>
						</div>
					</div>
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
								ФЕТ
							</a>
						</div>
						<div id="collapseThree" class="accordion-body collapse">
							<div class="accordion-inner">
								...
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div id="newMessage">
				<input type="text" id="message" autocomplete="off" autofocus>
				<input type="submit" value="send" id="send">
			</div>
			<div id="messages">
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

	// Create a socket
	var socket = new WebSocket('ws://'+window.location.host+'/ws/socket?user=kolan')


	// Message received on the socket
	socket.onmessage = function(event) {
		$("#messages").append("<p>"+event.data+"</p>");
	}

	socket.onopen = function(event) {
		alert("connected");
	};

	socket.onerror = function(event) {
		alert("conerror");
	};

	$('#send').click(function(e) {
		socket.send($('#message').val());
	});

</script>

{{template "footer.html" .}}