{{set . "title" "Розклад викладачів"}}
{{set . "scheduleteacher" "active"}}
{{template "header.html" .}}

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel-group" id="accordions">
			{{range $f := $.faculties}}
				<div class="panel panel-default">
					<div class="panel-heading no-padding">
						<h4 class="panel-title">
							<a class="display-block padding1015" data-toggle="collapse" data-parent="#accordions" href="#facult{{$f.Id}}" title="{{$f.FullName}}">
							{{$f.ShortName}}
							</a>
						</h4>
					</div>
					<div id="facult{{$f.Id}}" class="panel-collapse collapse {{if eq $.teacher.FacultyId $f.Id}} in {{end}}">
						<div class="panel-body">
							<div class="panel-group" id="ac{{$f.Id}}">
							{{range $d := $.departments}}
							{{if eq $f.Id $d.FacultyId}}
								<div class="panel panel-default">
									<div class="panel-heading no-padding">
										<h4 class="panel-title">
											<a class="display-block font15 padding1015" data-toggle="collapse" data-parent="#ac{{$f.Id}}" href="#collapse{{$d.Id}}{{$f.Id}}">
											Кафедра {{$d.Name}}
											</a>
										</h4>
									</div>
									<div id="collapse{{$d.Id}}{{$f.Id}}" class="panel-collapse collapse {{if eq $.teacher.DepartmentId $d.Id}} in {{end}}">
											<div class="list-group no-bottom-margin">
											{{range $t := $.teachers}}
											{{if eq $t.DepartmentId $d.Id}}
												<a class="list-group-item small-padding top-border-only no-border-radius {{if eq $.teacher.Id $t.Id}} active {{end}}" href="/teacher/{{$t.LastName}}_{{$t.FirstName}}_{{$t.MiddleName}}">{{$t.LastName}} {{$t.FirstName}} {{$t.MiddleName}} {{$t.Rank}}</a>
											{{end}}
											{{end}}
											</div>
										
									</div>
								</div>
							{{end}}
							{{end}}
							</div>
						</div>
					</div>
				</div>
			{{end}}
			</div>
		</div>
		<div class="col-lg-9">
			<table id="group_teacher_table" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th class="th-day">День</th>
						<th class="th-pair">Пара</th>
						<th>Предмет</th>
					</tr>
				</thead>
				<tbody>
				{{range $day := $.days_out}}
				{{range $pair := $day.Pair}}
					<tr>
					{{if eq $pair.Num "I"}}
						<td class="td-day" rowspan="6"><div class="rotate">{{$day.Day}}</div></td>
					{{end}}
						<td class="td-pair">{{$pair.Num}}</td>
						<td class="subject-content">
						{{if eq $pair.Type 0}}
							<p class="sub-content">{{$pair.Subject1}}</p>
							<hr class="sub-separator">
							<p class="sub-content">{{$pair.Subject2}}</p>
						{{end}}
						{{if eq $pair.Type 1}}
							<p class="sub-single">{{$pair.Subject1}}</p>
						{{end}}
						</td>
					</tr>
				{{end}}
				{{end}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{template "footer.html" .}}
