<!DOCTYPE html>

<html>
	<head>
		<title>{{.title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="/web/js/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/web/css/main.css">
		<link rel="shortcut icon" type="image/png" href="/web/img/favicon.png">
		<link rel="stylesheet/less" type="text/css" href="/web/less/main.less">
		<script>
			less = {
				env: "development",
				async: false,
				fileAsync: false,
				poll: 1000,
				functions: {},
				dumpLineNumbers: "комментарий",
				relativeUrls: false,
			};
		</script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
	</head>
	<body>
		<header class="navbar navbar-inverse">
			<div class="container">
				<a href="/" class="navbar-brand">{{msg . "app_header"}}</a>
				<ul class="nav navbar-nav">
					<li class="{{.schedulegroup}}">
						<a href="/group/">{{msg . "groups_schedule"}}</a>
					</li>
					<li class="{{.scheduleteacher}}">
						<a href="/teacher/">{{msg . "teachers_schedule"}}</a>
					</li>
					<li class="dropdown {{.info}}">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">{{msg . "info"}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/gmaps/">{{msg . "housings_location"}}</a></li>
							<li><a href="/about/">{{msg . "about_site"}}</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown {{.admin}}">
						<a class="dropdown-toggle " data-toggle="dropdown" href="#">{{msg . "administration"}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/">{{msg . "admin_schedule"}}</a></li>
							<li><a href="/tasks/">{{msg . "admin_tasks"}}</a></li>
							<li><a href="/database/">{{msg . "abmin_db"}}</a></li>
						</ul>
					</li>
					{{if .User}}
						<p class="navbar-text">{{msg . "logined_as"}} <a href="#" class="navbar-link">{{.User}}</a></p>
						<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>{{msg . "logout"}}</a></li>
					{{end}}
				</ul>
			</div>
		</header>